Flask==3.1.2
Flask-Cors==6.0.1
charset-normalizer==3.4.7
click==8.3.3
colorama==0.4.6
graphviz==0.21
gunicorn==26.0.0
mysql-connector-python==9.7.0
numpy==2.4.4
opencv-python-headless==4.13.0.92
packaging==26.2
pillow==12.2.0
psycopg2-binary==2.9.12
qrcode==8.2
reportlab==4.5.0
Werkzeug==3.1.3